src/main/resources/xsds/DummyResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DummyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="response" type="xs:string" />
        <xs:element name="request_user" type="xs:string" />
        <xs:element name="request_password" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>